@font-face {
  font-family: "Satoshi";
  src: url("../font/Satoshi-Variable.ttf") format("ttf");
}

@font-face {
  font-family: "Integral";
  src: url("../font/Fontspring-DEMO-integralcf-bold.otf") format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
