@font-face {
  font-family: "Satoshi";
  src: url("assets\font\Satoshi-Variable.ttf") format("ttf");
}
@font-face {
  font-family: "integral-bold";
  font-weight: 700;
  src: url("assets\font\Fontspring-DEMO-integralcf-bold.otf") format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
